* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 100px;
  height: 1200px;
}

.violet{
    background-color: violet;
    width: 100%;
    height: 140px;
    margin-top: 20px;
    
}


.beige{
    background-color: #e1d67a;
    width: 100%;
    height: 500px;
    margin-top: 20px;
    
}

.light-blue{
    background-color: lightblue;
    width: 100%;
    height: 600px;
    margin-top: 20px;
}

.purple{
    background-color: #8801fe;
    width: 100%;
    height: 70px;
    margin-top: 10px;
}

.riquadro1{
    background-color: lightblue;
    border-bottom: 10px solid blue;
    float: left;
    width: 100%;
    height: 100px;
}

.riquadro2{
    background-color: lightblue;
    border-bottom: 16px solid blue;
    border-right: 16 solid blue;
    float: left;
    width: 20%;
    height: auto;
} 

.riquadro3{
    background-color: lightblue;
    border-bottom: 16px solid blue;
    border-left: 16 solid blue;
    float: left;
    width: 20%;
    height: auto;
}

.riquadro4{
    background-color: lightblue;
    border-bottom: 16px solid blue;
    border-left: 16 solid blue;
    float: left;
    width: 20%;
    height: auto;
}

